.banner{
    width: 100%;
    height: 446px;
    padding: 0 16px;
    margin-bottom: 64px;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* align-items: center; */
}
.banner img{
    width: 100%;
    height: 70%;
    border-radius: 8px;
}
.banner .text{
    height: 30%;
    /* width: 100%; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap:8px; */
}
.banner .text h4{
    color: white;
    font-size: 18px;
    font-weight: 900;
}
.banner .text p{
    color: #ffffffa6;
    font-size: 14px;
    font-weight: normal;
    text-wrap: wrap;
}
.banner .text span{
    color: white;
    text-wrap: wrap;
    font-weight: normal;
}

.banner .text .secondary_btn{
    display: none;
}