@import url(./header.css);
@import url(./dicover.css);
@import url(./slider.css);
@import url(./slider1.css);
@import url(./hero.css);
@import url(./threePic.css);
@import url(./threePic1.css);
@import url(./lines.css);
@import url(./freeGames.css);
@import url(./banner.css);
@import url(./trending.css);
@import url(./lines1.css);
@import url(./footer.css);
@import url(./slider2.css);
@import url(./threePic2.css);
@import url(./twoPic.css);
@import url(./featured.css);