.freeGames{
    width: 75%;
    height: 631;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 36);
    border-radius: 12px;
}
.freeGames .title{
    height: 5%;
    color: white;
    align-items: center;
    margin-bottom: 8px;
}
.freeGames .title h5 svg{
    width: 32px !important;
    height: 32px !important;
    margin-right: 18px;
}
.freeGames .title h5 span{
    font-size: 20px;
    font-weight: bold;
}
.freeGames .title .viewMore{
    padding: 7px 15px;
    border: 1px solid hsla(0, 0%, 100%, 0.35);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    transition: 0.3s ease;
}
.freeGames .title .viewMore:hover{
background-color: #383838;
}

.freeGames .images{
    width: 100%;
    height: 95%;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    align-items: center;
    justify-content: start;
}
.freeGames .images .eachOne{
    /* width: 50%; */
    flex: 1 0 10%;
    height: auto;
    box-sizing: border-box;
    height: 50%;
}
.freeGames .images .eachOne .img{
    width: 100% !important;
    height: 70%;
    border-radius: 8px !important;
    overflow: hidden;
    margin-bottom: 12px;
}
.freeGames .images .eachOne .text{
    width: 100%;
    height: 30%;
    background-color: transparent;
    color: white;
}
.freeGames .images .eachOne .img img{
    width: 100%;
    height: 85%;
    display: block;
    transition: 0.3s ease;
}
.freeGames .images .eachOne .img img:hover{
    filter: brightness(1.2);
    /* filter:opacity(1.2); */
}
.freeGames .images .eachOne .img .underImg{
    background-color: rgb(38, 187, 255);
    color: black;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 25%;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
}
.freeGames .images .eachOne .img .underImgBlack{
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 25%;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
}
.freeGames .images .eachOne .text span{
    color: rgba(86, 87, 87, 0.795);
    font-weight: bold;
}
.freeGames .images .eachOne .text h4{
    margin: 0;
}