.header {
  background-color: #101014b3;
  color: white !important;
  width: 100%;
  height: 72px;
  z-index: 1000;
  color: white;
  flex-grow: 1;
  align-self: self-start;
  padding: 8px 24px;
  position: relative;
}
.header .collapse {
  /* color: white; */
  font-size: 13px !important;
}
.header .collapse ul {
  gap: 16px;
  margin-left: 16px;
}

.dropdown-menu {
  background-color: #202024 !important;
  font-size: 13px !important;
}
.header button {
  margin-left: 10px !important;
}
.header .collapse ul li img {
  width: 51px;
  height: 32px;
}
.dropdown-item{
    transition: 0.3s ease;
}
.dropdown-item:hover {
  background-color: #333333 !important;
}
.header a{
  color: white !important;
}