.hero {
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
  height: 600px;
  border-radius: 8px;
  overflow: hidden;
  gap: 16px;
  margin: 0 auto 64px auto;
}

.hero .left {
  flex: 4;
  position: relative;
  background-color: #1a1a1f;
  border-radius: 8px;
  overflow: hidden;
}

.hero .left .info {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hero .left .info.active {
  opacity: 1;
  z-index: 1;
}

.hero .left .info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .left .info .text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 6px;
}

.hero .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  
}

.hero .right div {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.hero .right div:hover,
.hero .right div.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero .right div a{
  text-decoration: none;
}

.hero .right a img {
  width: 70px;

  object-fit: cover;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hero .right a img:hover {
  transform: scale(1.05);
}
.hero .right a span{
  font-size: 13px;
  color: white;
  margin-left: 8px;
}

.hero .right .progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%; /* start empty */
  background: rgba(255,255,255,0.1);
  transition: width 0.1s linear;
  z-index: 1; /* behind text */
}

.playBtn {
  background-color: #f7f7f7;
  border-radius: 6px;
  border: 1px solid rgb(236, 236, 236);
  color: black !important;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 16px;
  font-weight: bold;
}
.wishListBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin-left: 8px;
}
