@import url(./desktop/desktop.css) only screen and (min-width: 1011px);
@import url(./tablet/tablet.css) only screen and (min-width:600px) and (max-width:1010px);
@import url(./mobile/mobile.css) only screen and (max-width: 599px);

@import url(./setting.css);
@import url(./slider.css);
